## 2019 Property Assessment Dataset

### Dataset link: https://data.boston.gov/dataset/property-assessment

In [110]:
# Load Libra
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [111]:
# Read in the Boston Property dataset. Make sure to specified file location.
data = pd.read_csv('C:/ISTM615/ISTM601/Project/fy19fullpropassess.csv')

C:\Users\AnalyticsStudent\new\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (15,60) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [112]:
data.shape

(174668, 75)

## Pipleline to select rows required for analysis

In [114]:
def select_rows(df):
    df = data[data['PTYPE']== 101]
    return df

In [115]:


ft = FunctionTransformer(select_rows)
select_pipeline = Pipeline([('ft',ft)])

In [116]:
data_1 = select_pipeline.fit_transform(data)

## Prepare Numerical Variable

In [96]:
sicn = SimpleImputer(missing_values=np.nan, strategy='mean')

num_pipeline = Pipeline([('sicn',sicn)])

In [ ]:
df_num = data[['LIVING_AREA','NUM_FLOORS','R_TOTAL_RMS' ,'R_BDRMS','R_FULL_BTH' ,'R_HALF_BTH' ,'R_FPLACE']]

df_num_tr = num_pipeline.fit_transform(df_num)

## Prepare Categorical variable

In [98]:
# impute missing values with Mode
sic = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
# Onehot Encoding
ohe = OneHotEncoder()

# Categorical pipeline.
cat_pipeline = Pipeline([('sic',sic),('ohe', ohe) ])

In [ ]:
#Select categorical columns to be transformed.
df_cat = data[['STRUCTURE_CLASS','R_BLDG_STYL','R_ROOF_TYP','R_EXT_FIN',
                 'R_HEAT_TYP','R_AC','R_EXT_CND','R_OVRALL_CND','R_INT_CND','R_INT_FIN','R_VIEW',]]

# test Categorical B
df_cat_tr = cat_pipeline.fit_transform(df_cat)

## Prepare Categorical variable : Kitchen and Bath

In [101]:
def to_object(x):
  return pd.DataFrame(x).astype('category')

In [102]:
# Covert all variales to Object
ft = FunctionTransformer(to_object)
#Impute Missing values with 'NA'
sic_1 = SimpleImputer(missing_values=np.nan, fill_value = 'NA',strategy='constant')
#Onehot Encoding
ohe_1 = OneHotEncoder()
styles_pipeline = Pipeline([('ft',ft),('sic',sic_1),('ohe', ohe_1) ])

In [ ]:
#Select Kitchen and Bath style variables
df_styles = data[['R_BTH_STYLE','R_BTH_STYLE2','R_BTH_STYLE3','R_KITCH_STYLE','R_KITCH_STYLE2','R_KITCH_STYLE3']]
# test Categorical pipeline
styles_pipeline.fit_transform(df_styles)

In [103]:
# Convert inputs to python into a list
num_attribs = list(df_num)
styles_attribs = list(df_styles)
cat_attribs = list(df_cat)

In [105]:
## = ColumnTransformer([
        ("num", #num_pipeline, num_attribs),
    ("styles", styles_pipeline, styles_attribs),
        ("cat", cat_pipeline, cat_attribs),
        
    ])

In [ ]:
#Test the pipeline
df_prepared = full_pipeline.fit_transform(data_1)

In [ ]:
df_prepared

In [106]:
# Read 2020 Property housing data
data20 = pd.read_csv('C:/ISTM615/ISTM601/Project/fy20fullpropassess.csv')
data20.shape

C:\Users\AnalyticsStudent\new\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (6,15,27,28,29,34,35,36,37,38,39,40,41,42,44,45,46,47,48,58,59,64,65,66,67,68,69,70,72,73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [107]:
# Prepare the data for Analysis using Pipeline.
data_20_1  = select_pipeline.fit_transform(data20)
data_20_1

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,LU,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
25,502555000,NaN,502555000,2,BEAVER,ST,NaN,2108.0,101,R1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,100021000,NaN,100021000,243 HF,LEXINGTON,ST,NaN,2128.0,101,R1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,100027000,NaN,100027000,33,PRESCOTT,ST,NaN,2128.0,101,R1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,100033000,NaN,100033000,246,PRINCETON,ST,NaN,2128.0,101,R1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,100041000,NaN,100041000,224,PRINCETON,ST,NaN,2128.0,101,R1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174650,2205658000,NaN,2205658000,2,CALTHA,RD,NaN,2135.0,101,R1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174652,2205660000,NaN,2205660000,30,LAKE,ST,NaN,2135.0,101,R1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174653,2205662010,NaN,2205662010,26,LAKE,ST,NaN,2135.0,101,R1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174655,2205663000,NaN,2205663000,22,LAKE,ST,NaN,2135.0,101,R1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174656,2205663001,NaN,2205663001,20,LAKE,ST,NaN,2135.0,101,R1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
# pass 2020 housing data trough full pipeline
df_prep_2 = full_pipeline.fit_transform(data_20_1)

In [109]:
df_prep_2

<30568x109 sparse matrix of type '<class 'numpy.float64'>'
	with 703609 stored elements in Compressed Sparse Row format>